<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="uk.co.payzone.bootlauncher" version="0.0.1">
    <name>Boot Launcher</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova Plugin to automatically start the Cordova app when the device is booted.</description>
    <keywords>cordova, boot, launch, startup, homescreen, automatic</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="BootLauncher">
                <param name="android-package" value="uk.co.payzone.bootlauncher.BootLauncher" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="uk.co.payzone.bootlauncher.BootLauncher">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/android/BootLauncher.java" target-dir="src/uk/co/ilee/bootlauncher" />
    </platform>
</plugin>
